
html, body{	
	font-family: 'Poppins', sans-serif;
	background-color: $petco_dark_navy;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 38px;
	color: $petco_green;	
}

.links > a {
	color: $petco_light_blue;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}



h1, h2{
	text-transform:uppercase;
}

h5{ 
	font-weight: bold;
	font-size: 0.8125rem;
	color:$petco_green;
	text-transform: uppercase;
}

.container{
	max-width: calc(100% - 1rem);
}

.navbar{ 
	padding-top: 0;
	padding-bottom: 0;
	background-color: $petco_green;
}
.navbar-brand{  }
.navbar-light .navbar-nav .nav-link{
	color: $white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 0, 0, 0.9);
}

.table{ margin-bottom:0; }

.page-headbar{
	display:flex;
	align-items: center;
	padding:0;
	margin:0 0 1.5rem; 
}
.page-headbar .page-title h1{
	font-size: 1rem;
	color: #fff;
	font-weight: 300;
	margin: 0;
	line-height: 37px;
}
.page-headbar .page-actions{ 
	margin-left:auto; 
	display: flex;
}
.page-headbar .page-actions .page-action a{ 
	display:block; 
	margin-left: 10px;
}

#sidebar.card{
	background-color: $petco_green;
	color: #fff;
}

.card-header {
	background-color: rgba(0, 0, 0, 0.1);
}
#sidebar .menu{ list-style: none; margin:0; padding:0; }
#sidebar .menu .menuitem a{
	color: #fff;
	display:block;
	line-height:40px;
}
#sidebar .menu .menuitem a:hover{
	opacity: 0.8;
}


.editpanel .form-group label{
	display:flex;
	align-items:center;
}
.editpanel .form-group label small{ 
	margin-left: auto; 
	color: $red;
}

#editprofile{ margin-bottom:1.5rem; }

/*	color: #609ed3; */