<template>
	<div class="q_chosen_item">
    	<div @click="remove" class="btn btn-dark btn-sm"><div>{{ name }}</div> <small>x</small></div>
	</div>
</template>

<script>
    export default {
		name: 'chosenitem',
        props: ['name', 'id'],
        data() {
            return {
            }
        },
        mounted() {
            //console.log('chosen item mounted.');
        },
        methods: {
            remove() {
                this.$emit('click', this.id);
            }
        }

    }
</script>

<style>
    .q_chosen_item{
        margin-bottom:10px;
    }
    .q_chosen_item .btn{
        display:flex;
        align-items: center;
    }
    .q_chosen_item .btn small{
        margin-left: auto;
    }
</style>

