<template>
    <div class="form-group">
        <label for="q_items">Questions <small>required</small></label>
        <input type="hidden" class="form-control" name="q_items" id="q_items" v-model="selectedIds">
        <select @change="saveOption" class="form-control" id="q_items_dropdown" v-model="selector">
            <option value="">Choose ...</option>
            <option v-for="dataitem in dataitems" :key="dataitem.id" v-bind:value="{ id: dataitem.id, name: dataitem.question }">
                {{ dataitem.question }}
            </option>
        </select>
        
        <draggable class='q_chosen_items' v-model="selectedItems" group="questions" @change="updateIds()">
            <chosenitem @click="removeChosenItem" v-for="selectedItem in selectedItems" :key="selectedItem.id" :name="selectedItem.name" :id="selectedItem.id"></chosenitem>
        </draggable>        
        
    </div>
</template>

<script>
    import draggable from 'vuedraggable';
    import ChosenItem from "./ChosenItem.vue";

    export default {
		name: 'select-questions',
        props: ['selected','questions'],
        components: {
            draggable,
            'chosenitem': ChosenItem
        },
        data() {
            return {
                drag: false,
                selector: '',
                selectedIds: '',
                selectedItems: [],
                dataitems: JSON.parse(this.questions),
           }
        },
        mounted() {
            //console.log('select quiz item mounted.');
            console.log(this.selected);

            if(this.selected){
                for(var i=0; i<this.dataitems.length; i++){
                    
                    if(this.selected.includes(this.dataitems[i].id)){
                        this.selectedItems.push( { id: this.dataitems[i].id, name: this.dataitems[i].question });
                    }

                }
                this.selectedIds = JSON.parse(this.selected).join();
            }
        },
        methods: {
            saveOption() {
                if(typeof this.selector.id != 'undefined'){
                    if(!this.isInArray(this.selectedItems, this.selector.id)){
                        this.selectedItems.push( { id: this.selector.id, name: this.selector.name });
                        if(this.selectedItems.length > 1){
                            this.selectedIds += ','+this.selector.id;
                        } else {
                            this.selectedIds = this.selector.id;
                        }
                        
                    }
                    this.selector = '';
                }
            },
            removeChosenItem(id){
                let _selectedIds = '';
                let objArray = this.selectedItems;
                let returnArray = [];
                for(var i=0; i<objArray.length; i++){

                    if(objArray[i].id !== id){
                        returnArray.push(objArray[i]);
                        _selectedIds += ','+objArray[i].id;
                    }

                }
                this.selectedItems = returnArray;
                this.selectedIds = _selectedIds.substr(1, _selectedIds.length);
            },
            isInArray(vendors, value){
                var found = false;
                for(var i = 0; i < vendors.length; i++) {
                    if (vendors[i].id == value) {
                        found = true;
                        break;
                    }
                }
                return found;
            },
            updateIds(){
                this.selectedIds = '';
                for(var i = 0; i < this.selectedItems.length; i++) {
                    this.selectedIds += ','+this.selectedItems[i].id;
                }
                this.selectedIds = this.selectedIds.substr(1, this.selectedIds.length);
            }
        }

    }
</script>

<style>
    .q_chosen_items{
        display:block;
        padding-top:10px;
        text-align:left;
    }
</style>
