<template>
    <div id="textareaCounter">
	    <textarea v-if="required" @input="countText" type="text" class="form-control" :name="name" :id="name" v-model="value" :maxlength="max" required></textarea>
	    <textarea v-else type="text" class="form-control" :name="name" :id="name" v-model="value" :maxlength="max"></textarea>
		<div class="tac-counters">
			<div class="tac-counter tac-chardiff"><small>{{ charDiff }} characters left.</small></div>
			<div class="tac-counter tac-charcount"><small>( {{ charCount }} / {{ max }} )</small></div>
		</div>
    </div>
</template>

<script>


    export default {
		name: 'textarea-counter',
        props: {
			fieldname: '',
			fieldvalue: '',
			required: {
				type: String,
				default: 'false'
			},
			fieldmax: {
				type: String,
				default: '255'
			}
		},

        components: {
        },
        data() {
            return {
				max: parseInt(this.fieldmax),
				charCount: 0,
				charDiff: 0,
				name: this.fieldname,
				value: this.fieldvalue,
            }
        },
        mounted() {
			//console.log('textareaCounter mounted.');
			this.countText();
        },
        methods: {
			countText(){
				this.charCount = this.value.length;
				this.charDiff = this.max - this.charCount;
			},
        }

    }
</script>

<style>
	.tac-counters{
		display:flex;
	}
	.tac-charcount{
		margin-left:auto;
	}
</style>
